<a href="https://colab.research.google.com/github/sheetalljo/dsa_activities/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [ ]:
def function_name():
  function_body
fumction_call()

In [ ]:
def greet():
  print("Hello welcome hoomns ☺ ☺ ☺")
greet()

Hello welcome hoomns ☺ ☺ ☺

In [ ]:
def greet():
  pass

In [ ]:
def greet(name):
  print(f"Hello {name},welcome to the program")
  print(f"Hello ,Are you okay")

greet('annnnna')
greet('neethuuu')
greet('lekshmii')

Hello annnnna,welcome to the program
Hello ,Are you okay
Hello neethuuu,welcome to the program
Hello ,Are you okay
Hello lekshmii,welcome to the program
Hello ,Are you okay

In [ ]:
def greet(name,time):
  print(f"Hello {name}, welcome to the program")

  print(f"your session will start at {time}")

greet('Annnnna','9 A.M')
greet('Neethuuu','10 A.M')
greet('Lekshmii' ,'11 A.M')
#POSITIONAL ARGUMENT SO THE POSITIONS SHOULD BE CORRECT

Hello Annnnna, welcome to the program
your session will start at 9 A.M
Hello Neethuuu, welcome to the program
your session will start at 10 A.M
Hello Lekshmii, welcome to the program
your session will start at 11 A.M

In [ ]:
def greet(name,time='11 A.M'):
  print(f"Hello {name}, welcome to the program")

  print(f"your session will start at {time}")

greet('Annnnna','9 A.M')
greet('Neethuuu','10 A.M')
greet('Lekshmii' ,'11.30 A.M')
greet("Sheethal")

Hello Annnnna, welcome to the program
your session will start at 9 A.M
Hello Neethuuu, welcome to the program
your session will start at 10 A.M
Hello Lekshmii, welcome to the program
your session will start at 11.30 A.M
Hello Sheethal, welcome to the program
your session will start at 11 A.M

In [ ]:
num1=int(input("Enter num1 : "))
num2=int(input("Enter num2 : "))
def num(num1,num2):

  print("Product", num1 * num2)
num(num1,num2)

Enter num1 : 4
Enter num2 : 5
Product 20

In [ ]:
def bill_amnt(n):
  percentage=n/100*10
  biil_amont=percentage+n
  print("your amount is",biil_amont)
bill_amnt(500)

your amount is 550.0

In [ ]:
def bill_amnt(n):
  if 500>=n:
    percentage=n/100*10
    biil_amont=percentage+n

  else  :
    percentage=n/100*20
    biil_amont=percentage+n
  print("your amount is",biil_amont)

bill_amnt(400)
bill_amnt(600)

your amount is 440.0
your amount is 720.0

In [ ]:
num_list=[12,4,56,5,23,24,58,9,11,18]
def average_even(numberlist):
  even_list=[]
  odd_list=[]
  for num in numberlist:
    if num % 2== 0:
      even_list.append(num)
    elif num % 2!=0:
      odd_list.append(num)
  averageEven = sum(even_list)/len(even_list)
  averageOdd = sum(odd_list)/len(odd_list)
  print(even_list)
  print(odd_list)
  print(averageEven)
  print(averageOdd)
average_even(num_list)

[12, 4, 56, 24, 58, 18]
[5, 23, 9, 11]
28.666666666666668
12.0

In [ ]:
def sum_numbers(*args):
  print(type(args))
  total=0
  for i in args:
    total += i
  print(total)
sum_numbers(10,20,15,5)

<class 'tuple'>
50

In [ ]:
def sum_numbers(**args):
  for item,val in args.items():
    print(f"{item} is {val}")

sum_numbers(Name="Dewy",place="TVM",score=6)
sum_numbers(name="Kiki",place="EKM",color="Black")
sum_numbers(name="Sticy",place="KSD",batch="DSA")

Name is Dewy
place is TVM
score is 6
name is Kiki
place is EKM
color is Black
name is Sticy
place is KSD
batch is DSA

In [ ]:
def sum_numbers(**args):
  print(type(args))
sum_numbers(name="Dewy",place="TVM",score=6)

<class 'dict'>

In [ ]:
def squareofnum(x):
  y=x * x
  print(y)
squareofnum(10)

100

In [ ]:
square = lambda x : x*x
square(5)

25

In [ ]:
pro = lambda x,y : x*y
pro(5,2)

10

In [ ]:
add = lambda x,y : x+y
add(5,6)

11

In [ ]:
def totalmark(marks):
  return (sum(marks))
finalscore = totalmark([10,20,30,40,50,60,70])
if finalscore >= 80:
  print("Grade A")
elif finalscore >= 70:
  print("Grade B")
elif finalscore >= 60:
  print("Grade C")
elif finalscore >= 50:
  print("Grade D")
elif finalscore >= 40:
  print("Grade E")

Grade A